.container {
  height: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 2rem 2rem;

  display: flex;
  flex-direction: column;

  section {
    flex: 1;

    margin: 4rem 0;

    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 1rem;

    section {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 720px) {
  .container {
    padding: 1rem;

    section {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 1rem;

    section {
      display: flex;
      flex-direction: column;
    }
  }
}
