@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: $background;
  color: $text;

  &, input, textarea, button {
    font: 400 1rem 'Inter', sans-serif;
  }

  button {
    outline: none;
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}